{% extends "base.html" %}

{% block content %}

<header>
  <div class="container">
    <div class="row">
      <div>
        <div class="masthead">
          <h3>HELLO! </h3>
          <p>Sharing recipies at Casper College! &nbsp
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="content-container">
  <div class="content-row">

    <!-- Blog Entries Column -->
    <div class="content-flex">
      {% for post in post_list %}
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-info">{{ post.author }} | {{ post.created_on}}</p>

          <p class="card-text">{{post.content|slice:":200" }}</p>
          <a class="link-button" href="{% url 'post_detail' post.slug  %}">Read More &rarr;</a>
        </div>

      </div>
      {% endfor %}
    </div>
    {%endblock%}