.navbar {
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem;
    border-color: #3398E1;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    background-color: royalblue;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    background-color: #fdfdfd;
}

.masthead {
    padding: 10px;
    color: white;
    background: #3398E1;
    height: auto;
    padding-bottom: 15px;
    box-shadow: 0 16px 48px #E3E7EB;
    padding-top: 10px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;   
}

.flex-box a {
    color: white;
    font-size: 1.4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid;
    border-color: rgb(127, 197, 255);
    border-radius: 1ex;
    padding: 4px;
    background-color: #3398E1;
    text-decoration: none;
    transition: .5s;
}
.flex-box a:hover{
    background-color: rgba(0, 139, 139, .5);
}

.content-flex {
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}

.card-body {
    border: .2vw solid rgba(127, 197, 255, .5);
    border-radius: .4rem;
    padding-left: 10px;
    padding-bottom: 5px;
    transition: .5s;
}
.card-body:hover{
    border: .3vw solid rgb(127, 197, 255);
}

.head_text {
    color: white;
}

.card {
    padding-top: 1vh;
    box-shadow: 0 16px 48px #E3E7EB;
}

.card-info{
    font-size: .8em;
}

.card-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
}

.add-recipe{
    display: flex;
    flex-direction: column;
}

.link-button{
    color: black;
}

.link-button:active{
    color: darkcyan;
}

.link-button:hover{
    font-weight: bolder;
}

.comments{
    border: .5vh outset lightblue;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.comments .name{
    font-weight: bold;
}

.comments .date{
    font-weight: normal;
    font-size: .7em;
}

.comment-form{
    padding:  .3vh 1vh 1vh 1vw;
    margin-right: 1vw;
}

.comment-form textarea{
    border: 1px inset;
    width: 50%;
    outline: none;
    resize: none
}

.comment-form input[type=text]{
    border: 1px inset;
    width: 10%;
    transition: width 0.4s ease-in-out;
    outline: none;
}

.comment-form input[type=text]:focus{
    width: 20%;
}

.recipe-form textarea{
    border: 1px inset;
    width: 50%;
    outline: none;
    resize: none
}

.recipe-form input[type=text]{
    border: 1px inset;
    width: 10%;
    transition: width 0.4s ease-in-out;
    outline: none;
}

.recipe-form input[type=text]:focus{
    width: 20%;
}

.comment-form button{
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
    background-color: #3398E1;
}

.comment-form button:hover{
    background-color: #2774aa;
}

.comment-form button:active {
    background-color: #2774aa;
    transform: translateY(4px);
  }

.recipe-form button{
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
    background-color: #3398E1;
}

.recipe-form button:hover{
    background-color: #2774aa;
}

.recipe-form button:active {
    background-color: #2774aa;
    transform: translateY(4px);
  }